<div class="card h-100">
  <div class="card-header font-weight-bold">
    Machine: {{ parcel.parcelMachine.identificationCode }}
  </div>
  <div class="card-body text-center">
    <h6 class="card-subtitle mb-3">Receiver: {{ parcel.receiverFullName }}</h6>
    <h6 class="card-subtitle mb-3">Contact: +370{{ parcel.phone }}</h6>
    <h6 class="card-subtitle mb-2">Weight: {{ parcel.weight }} g.</h6>
    <p class="text-muted card-text">Description: {{ parcel.description }}</p>
    <p class="text-muted m-0">
      Machine address: {{ parcel.parcelMachine.address }},
      {{ parcel.parcelMachine.town }}
    </p>
  </div>
  <div class="card-footer text-muted">
    <a class="card-link" [routerLink]="['/add-edit-parcel', parcel.id]">Edit</a>
  </div>
</div>
